.quiz__results-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.pass__screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
  text-align: center;
  height: 400px;
  width: 90%;
  border-radius: 15px;
}
.fail__screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  text-align: center;
  height: 400px;
  width: 90%;
  border-radius: 15px;
}
.home__screen-button {
  background-color: var(--primary__button__color);
  height: 30px;
  width: 100px;
  border-radius: 15px;
  color: white;
  outline: none;
  border: none;
  align-self: center;
  justify-self: flex-end;
  margin-top: 50px;
}
